<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>customSites</key>
	<dict>
		<key>536AE418-725B-46A8-9592-8DDCF55FE83D</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>dict</string>
			<key>text</key>
			<string>Search Wikitionary for '{query}'</string>
			<key>url</key>
			<string>https://en.wiktionary.org/w/index.php?search={query}&amp;go=Go&amp;ns0=1</string>
			<key>utf8</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
