<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>darkthemeuid</key>
	<string>theme.urlimport.A2B45DE2-C9BE-4C76-9FB7-AB828AF7EB39</string>
	<key>lightthemeuid</key>
	<string>theme.urlimport.EF25DAD3-5ADA-4636-8900-B333C5CB5D90</string>
</dict>
</plist>
