<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>io.github.alfred-password-manager</string>
	<key>connections</key>
	<dict>
		<key>1377841A-A5B5-45DD-AD44-FFF49DCE31F8</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>6E945397-AF89-4E1D-8BF8-8B772AB22E0F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>88BCC830-720B-49D5-80F0-5AC668F63F2C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>1553D24A-D2B5-4CCD-8362-6CD4DF388D74</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>1DBF026F-8BE6-4D58-A7BE-4A295B3440C1</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>3E9DD8CF-ED1A-47E8-8F1A-D1ED9983B4A6</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>E8964C5F-0089-406F-95D8-B71208653916</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>7CDC8F57-0EE7-4980-BD7B-CCFFE74A6EEF</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>95C09B11-B924-46AA-AE5B-6782AF01C2D1</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>7EC33F58-366C-436E-A013-BA23439E3B6E</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>1553D24A-D2B5-4CCD-8362-6CD4DF388D74</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>8A0C3200-CDE3-48E4-9EBE-0D1DC5FE1880</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>1DBF026F-8BE6-4D58-A7BE-4A295B3440C1</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>95C09B11-B924-46AA-AE5B-6782AF01C2D1</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>D94474EC-9C45-4803-8754-8F5A29AD3592</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>A438D9E4-9A22-42EB-98F4-BAAE7A56E8C1</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>8A0C3200-CDE3-48E4-9EBE-0D1DC5FE1880</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>BDE05D05-4B6D-43A2-90F3-C463AFF475A5</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>C546CA76-1E4A-49FE-B4D6-4D5531FB84E2</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>1377841A-A5B5-45DD-AD44-FFF49DCE31F8</string>
				<key>modifiers</key>
				<integer>262144</integer>
				<key>modifiersubtext</key>
				<string>Copy the username to clipboard</string>
			</dict>
		</array>
		<key>C546CA76-1E4A-49FE-B4D6-4D5531FB84E2</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>F157EC9A-0D5A-430F-8C68-BA3D1E33B9BC</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>E8964C5F-0089-406F-95D8-B71208653916</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>328A892C-30C9-4936-8C1E-A928BA2D7FAF</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Alin Tuhut</string>
	<key>description</key>
	<string>A complete, easy to use, Keychain based password manager</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Password Manager</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>1</integer>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>2</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>3E9DD8CF-ED1A-47E8-8F1A-D1ED9983B4A6</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>osascript fill_and_submit.applescript "{query}"</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.script</string>
			<key>uid</key>
			<string>328A892C-30C9-4936-8C1E-A928BA2D7FAF</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>python hotkey_action.py "{query}"</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>E8964C5F-0089-406F-95D8-B71208653916</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>python hotkey_action.py "{query}" 1</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>1553D24A-D2B5-4CCD-8362-6CD4DF388D74</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>1</integer>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>2</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>7EC33F58-366C-436E-A013-BA23439E3B6E</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<true/>
				<key>clipboardtext</key>
				<string>{query}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>1DBF026F-8BE6-4D58-A7BE-4A295B3440C1</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>python hotkey_action.py "{query}" 2</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>8A0C3200-CDE3-48E4-9EBE-0D1DC5FE1880</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>1</integer>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>2</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>A438D9E4-9A22-42EB-98F4-BAAE7A56E8C1</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict/>
			<key>type</key>
			<string>alfred.workflow.output.largetype</string>
			<key>uid</key>
			<string>F157EC9A-0D5A-430F-8C68-BA3D1E33B9BC</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>python keyword_action.py --get-password "{query}"</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>C546CA76-1E4A-49FE-B4D6-4D5531FB84E2</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>pass</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Geting data from Keychain ...</string>
				<key>script</key>
				<string>python filter.py "{query}"</string>
				<key>subtext</key>
				<string>Type the service name</string>
				<key>title</key>
				<string>Get your passwords from Keychain</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>BDE05D05-4B6D-43A2-90F3-C463AFF475A5</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<false/>
				<key>clipboardtext</key>
				<string>{query}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>6E945397-AF89-4E1D-8BF8-8B772AB22E0F</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>python keyword_action.py --get-account "{query}"</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>1377841A-A5B5-45DD-AD44-FFF49DCE31F8</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>output</key>
				<integer>0</integer>
				<key>removeextension</key>
				<false/>
				<key>sticky</key>
				<false/>
				<key>text</key>
				<string>Username was copied to clipboard</string>
				<key>title</key>
				<string>Alfred Password Manager</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>88BCC830-720B-49D5-80F0-5AC668F63F2C</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>pass-set-keychain</string>
				<key>subtext</key>
				<string>Enter the full path to your Keychain file</string>
				<key>text</key>
				<string>Set your Keychain file</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>7CDC8F57-0EE7-4980-BD7B-CCFFE74A6EEF</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>python keyword_action.py --keychain "{query}"</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>95C09B11-B924-46AA-AE5B-6782AF01C2D1</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<true/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>output</key>
				<integer>0</integer>
				<key>removeextension</key>
				<true/>
				<key>sticky</key>
				<false/>
				<key>text</key>
				<string>{query}</string>
				<key>title</key>
				<string>Your Keychain file is saved</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>D94474EC-9C45-4803-8754-8F5A29AD3592</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>1377841A-A5B5-45DD-AD44-FFF49DCE31F8</key>
		<dict>
			<key>ypos</key>
			<real>600</real>
		</dict>
		<key>1553D24A-D2B5-4CCD-8362-6CD4DF388D74</key>
		<dict>
			<key>ypos</key>
			<real>170</real>
		</dict>
		<key>1DBF026F-8BE6-4D58-A7BE-4A295B3440C1</key>
		<dict>
			<key>ypos</key>
			<real>230</real>
		</dict>
		<key>328A892C-30C9-4936-8C1E-A928BA2D7FAF</key>
		<dict>
			<key>ypos</key>
			<real>40</real>
		</dict>
		<key>3E9DD8CF-ED1A-47E8-8F1A-D1ED9983B4A6</key>
		<dict>
			<key>ypos</key>
			<real>40</real>
		</dict>
		<key>6E945397-AF89-4E1D-8BF8-8B772AB22E0F</key>
		<dict>
			<key>ypos</key>
			<real>540</real>
		</dict>
		<key>7CDC8F57-0EE7-4980-BD7B-CCFFE74A6EEF</key>
		<dict>
			<key>ypos</key>
			<real>810</real>
		</dict>
		<key>7EC33F58-366C-436E-A013-BA23439E3B6E</key>
		<dict>
			<key>ypos</key>
			<real>170</real>
		</dict>
		<key>88BCC830-720B-49D5-80F0-5AC668F63F2C</key>
		<dict>
			<key>ypos</key>
			<real>660</real>
		</dict>
		<key>8A0C3200-CDE3-48E4-9EBE-0D1DC5FE1880</key>
		<dict>
			<key>ypos</key>
			<real>290</real>
		</dict>
		<key>95C09B11-B924-46AA-AE5B-6782AF01C2D1</key>
		<dict>
			<key>ypos</key>
			<real>810</real>
		</dict>
		<key>A438D9E4-9A22-42EB-98F4-BAAE7A56E8C1</key>
		<dict>
			<key>ypos</key>
			<real>290</real>
		</dict>
		<key>BDE05D05-4B6D-43A2-90F3-C463AFF475A5</key>
		<dict>
			<key>ypos</key>
			<real>490</real>
		</dict>
		<key>C546CA76-1E4A-49FE-B4D6-4D5531FB84E2</key>
		<dict>
			<key>ypos</key>
			<real>430</real>
		</dict>
		<key>D94474EC-9C45-4803-8754-8F5A29AD3592</key>
		<dict>
			<key>ypos</key>
			<real>810</real>
		</dict>
		<key>E8964C5F-0089-406F-95D8-B71208653916</key>
		<dict>
			<key>ypos</key>
			<real>40</real>
		</dict>
		<key>F157EC9A-0D5A-430F-8C68-BA3D1E33B9BC</key>
		<dict>
			<key>ypos</key>
			<real>430</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>alfred-password-manager.github.io</string>
</dict>
</plist>
