<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>fallbacks</key>
	<array>
		<string>features.websearch.google.fallback</string>
		<string>features.websearch.amazon.fallback</string>
		<string>features.websearch.wiki.fallback</string>
		<string>user.workflow.45AB42CF-A547-4BF4-B91B-829046E55FED.1BD03BB0-06B9-47F5-9346-7A829C38B248</string>
	</array>
	<key>fallbacksMode</key>
	<integer>1</integer>
	<key>showUserDefined</key>
	<array>
		<string>public.symlink</string>
	</array>
</dict>
</plist>
